<!DOCTYPE html>

<html>
    <head>
		<link href="../static/css/style.css" rel="stylesheet">
        <title>Result</title>
	</head>

    <body>
        <div class="form-box">
        <h1> Developer Self Service</h1>
            <h6> Self-Service Portal to perform few automated tasks</p1></h6>
            </br>
            <input class="btn" type="button" value="Update Parameter" onclick="location.href='/parametermodify';" style="margin-left: 30%;"></input>
            </br>
            </br>
            <input class="btn" type="button" value="Create Parameter " onclick="location.href='/parameters';" style="margin-left: 30%;" ></input>
            </br>
            </br>
            <input class="btn" type="button" value="  Service Restart  " onclick="location.href='./pods';" style="margin-left: 30%;" ></input>
            </br>
            </br>
            <input class="btn" type="button" value=" Create Secrets    " onclick="location.href='#';" style="margin-left: 30%;" ></input>
        </div>
    </body>
</html>

